In [5]:
with open ("numbers.dat", "r") as f:
    for line in f:
        for letter in line:
            print(ord(letter))

49
44
50
44
51
10
52
44
53
44
54
44
10
55
44
56
44
57
10
49
48
44
49
49
44
49
50

In [14]:
asci_vals = []
with open ("numbers.dat", "r") as f:
    for line in f:
        for letter in line:
            asci_vals.append(ord(letter))

asci_vals

[49,
 44,
 50,
 44,
 51,
 10,
 52,
 44,
 53,
 44,
 54,
 44,
 10,
 55,
 44,
 56,
 44,
 57,
 10,
 49,
 48,
 44,
 49,
 49,
 44,
 49,
 50]

In [4]:
words = '''one
two
three'''
words

'one\ntwo\nthree'

In [7]:
for letter in words:
    if letter not in ' \n,':
            print(letter, end ='-')

o-n-e-t-w-o-t-h-r-e-e-

In [3]:
asci_vals = [111,1110,1001,10,116,119,111,10,116,104,114,101,101]
asci_vals

[111, 1110, 1001, 10, 116, 119, 111, 10, 116, 104, 114, 101, 101]

In [8]:
n = [1,2,3,4]
print(n)

[1, 2, 3, 4]

In [10]:
n.append(5)
print(n)

[1, 2, 3, 4, 5]

In [12]:
cleaned = []
spc_nl_comma = ' \n,'
for letter in words:
    if letter not in spc_nl_comma:
        cleaned.append(letter)
cleaned

['o', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e']

In [13]:
cleaned = []
spc_nl_comma = ' \n,'
for letter in words:
    if letter not in spc_nl_comma:
        cleaned.append(letter)
cleaned
''.join(cleaned)

'onetwothree'

In [18]:
with open ("numbers.dat", "r") as f:
    for item in f:
            print(item)

1,2,3

4,5,6

7,8,9

10,11,12

In [19]:
with open ("numbers.dat", "r") as f:
    for item in f:
            print(item.strip().split(','))

['1', '2', '3']
['4', '5', '6']
['7', '8', '9']
['10', '11', '12']

In [22]:
a,b = 3,4
print("a is {0}, b is {1}".format(a,b))

a is 3, b is 4

In [23]:
print("a is" , a, ", b is",b)

a is 3 , b is 4

In [ ]:
with open ("numbers.dat", "r") as f:
    for item in f:
        a,b,c =print(item.strip().split(','))