In [1]:
#Tuples
(1,2)

(1, 2)

In [2]:
pair =(1,2)
pair

(1, 2)

In [3]:
type(pair)

tuple

In [6]:
#access elements of a tuple using same index 
pair[0]

1

In [7]:
pair[0] = 3

TypeError: 'tuple' object does not support item assignment

In [8]:
def put_in_order(m,n):
    if m > n:
        return n,m
    else:
        return m,n

In [9]:
put_in_order(3,1)

(1, 3)

In [10]:
put_in_order(3,7)

(3, 7)

In [13]:
smaller, larger = put_in_order(4,2,)
smaller, larger

(2, 4)

In [16]:
#return arguments wrong way around. fixed in next example.
def descending(m,n):
    if m > n:
        return n, m 
    else:
        return m, n

In [17]:
descending(88,56)

(56, 88)

In [18]:
descending(8,56)

(8, 56)

In [26]:
descending(18,12)

(12, 18)

In [27]:
#fixed example for descending
def descending(m,n):
    if m > n:
        return m, n
    else:
        return n, m

In [32]:
descending (4,1) == (4,1)

True

In [33]:
descending (3,6) == (6,3)

True

In [29]:
descending(8,56)

(56, 8)

In [30]:
descending(75,56)

(75, 56)

In [31]:
descending(8,12)

(12, 8)

In [34]:
students = {}
students['T00056587'] = "Eoin"
students['T00056521'] = "Tim"
students['T00058751'] = "Joe"
students

{'T00056521': 'Tim', 'T00056587': 'Eoin', 'T00058751': 'Joe'}

In [36]:
students ['T00056587']

'Eoin'

In [37]:
len(students)

3

In [43]:
students ={}
students ['t01'] = {'eoin', 'driscoll', 3, 'ITS'}
students ['t02'] = {'tim', 'shea', 3, 'ITS'}
students

{'t01': {'eoin', 3, 'driscoll', 'ITS'}, 't02': {'tim', 3, 'shea', 'ITS'}}

In [44]:
for k,v in students.items():
    print(k,v)

t01 {'eoin', 3, 'driscoll', 'ITS'}
t02 {'tim', 3, 'shea', 'ITS'}

In [48]:
students ={}
students['t01'] = ('eoin', 'driscoll', 3, 'ITS')
students['t02'] = ('tim', 'shea', 3, 'ITS')
students

{'t01': ('eoin', 'driscoll', 3, 'ITS'), 't02': ('tim', 'shea', 3, 'ITS')}

In [49]:
for k,v in students.items():
    print(k,v)

t01 ('eoin', 'driscoll', 3, 'ITS')
t02 ('tim', 'shea', 3, 'ITS')

In [55]:
#get surname
for k,v in students.items():
    print (k, (v = idx + 1))

SyntaxError: invalid syntax (<ipython-input-55-65d6a832aade>, line 2)

In [58]:
for k,v in students.items():
    print (k, [idx + 1, v])

NameError: name 'idx' is not defined

In [63]:
for k,v in students.items():
    print (k,v [v + 1])

TypeError: can only concatenate tuple (not "int") to tuple

In [64]:
#get surname
for k,v in students.items():
    print (k, v[1])

t01 driscoll
t02 shea

In [65]:
for k,v in students.items():
    print (v[1])

driscoll
shea