In [10]:
word = "amber"

In [3]:
print(word)

amber

In [5]:
word[0:2]

'am'

In [6]:
word[-1]

'r'

In [9]:
word[2]

'b'

In [11]:
word[::1]

'amber'

In [11]:
word[::-1]

'rebma'

In [14]:
word[:-1]

'ambe'

In [20]:
reversed(word)

In [22]:
list(reversed(word))

['r', 'e', 'b', 'm', 'a']

In [62]:
word.startswith("t")

False

In [63]:
word.capitalize()

'Amber'

In [9]:
for i in range (9):
    print(i)

0
1
2
3
4
5
6
7
8

In [3]:
for num in range (20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for num in range(10):
    print(num,end=',')

SyntaxError: invalid syntax (<ipython-input-7-105d9f04a384>, line 2)

In [18]:
for num in range (20):
    print(num, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,

In [25]:
numbers =[1,8,5,33,25,2,7]

In [26]:
print(numbers)

[1, 8, 5, 33, 25, 2, 7]

In [27]:
order_num = sorted(numbers)
order_num

[1, 2, 5, 7, 8, 25, 33]

In [28]:
def sayhello(name):
    print("Hello %s" % name)

In [30]:
sayhello("Eoin")

Hello Eoin

In [31]:
print("hello is %s" % "goodbye")

hello is goodbye

In [32]:
def show_number(num):
    print("your number is %s" % num)

In [33]:
show_number(28)

your number is 28

In [42]:
def show_number(num):
    print("The Number is %d" % num)

In [44]:
show_number(2.5)

The Number is 2

In [51]:
def add(num1,num2):
    return num1 + num2

In [53]:
add (3,5)

8

In [55]:
a = 50
b =10

a if a > b else b

50

In [58]:
def largest(m,n):
    if m > n:
        return m
    else:
        return n

In [59]:
largest(20,55)

55

In [61]:
largest(75,20)

75

In [65]:
largest(8888,88887)

88887

In [66]:
expression = input("Enter expression")

Enter expression22*2 +9

In [67]:
expression

'22*2 +9'

In [68]:
eval(expression)

53

In [69]:
word[0:]

'amber'

In [71]:
list=[2,4,6,8,10]
sum(list)

30

In [72]:
len(list)

5

In [82]:
def avg(numbers):
    return sum(numbers) / len(numbers)

In [83]:
avg({2,4,6,8,10,12})

7.0

In [84]:
lotto =[2,8,7,17,39,42]

In [90]:
for idx,num in enumerate(lotto):
    print(idx,num)

0 2
1 8
2 7
3 17
4 39
5 42

In [87]:
order_lotto = sorted(lotto)
order_lotto

[2, 7, 8, 17, 39, 42]

In [91]:
for idx,i in enumerate(order_lotto):
    print(idx+1,i)

1 2
2 7
3 8
4 17
5 39
6 42

In [93]:
for idx,i in enumerate(order_lotto):
    print("The number",(idx+1), "is",i)

The number 1 is 2
The number 2 is 7
The number 3 is 8
The number 4 is 17
The number 5 is 39
The number 6 is 42

In [94]:
#tuples
(1,2)

(1, 2)

In [95]:
pair = (1,2)
pair

(1, 2)

In [96]:
type(pair)

tuple

In [99]:
def put_in_order(m,n):
    if m > n:
        return n,m
    else:
        return m,n

In [101]:
put_in_order(12,8)

(8, 12)

In [103]:
dogs = {}
dogs['Amber'] = "Eoins Dog"
dogs['Jackson'] = "Eoins Dog"
dogs['Max'] = "Karens Dog"
dogs['Missy'] = "Karens dog"
dogs

{'Amber': 'Eoins Dog',
 'Jackson': 'Eoins Dog',
 'Max': 'Karens Dog',
 'Missy': 'Karens dog'}

In [105]:
dogs ['Amber']

'Eoins Dog'

In [106]:
len(dogs)

4

In [2]:
dogs = {}
dogs['Amber'] = {'brown & amber','8yrs old','she is Eoins Dog'}
dogs['Jackson'] = {'brown & amber','7yrs old','he is Eoins Dog'}
dogs

{'Amber': {'8yrs old', 'brown & amber', 'she is Eoins Dog'},
 'Jackson': {'7yrs old', 'brown & amber', 'he is Eoins Dog'}}

In [3]:
for k,v in dogs.items():
    print(k,v)

('Amber', set(['brown & amber', 'she is Eoins Dog', '8yrs old']))
('Jackson', set(['brown & amber', 'he is Eoins Dog', '7yrs old']))

In [4]:
def double (n):
    print(n*2)

In [5]:
double(4)

8