In [1]:
1+1

2

In [2]:
2*5

10

In [3]:
#what does the / operator do?
10/3

3.3333333333333335

In [4]:
#here is how you force integer division
10//3

3

In [5]:
"Hello there"

'Hello there'

In [6]:
"The sum is: ", 3*4

('The sum is: ', 12)

In [7]:
"the sum is: " + 3*4

TypeError: Can't convert 'int' object to str implicitly

In [8]:
#the str function to the rescue.
"the sum is: " + str(3*4)

'the sum is: 12'

In [9]:
#what is remainder when divided by 3?
10 % 3

1

In [10]:
m = 3
n = 4
m*n

12

In [12]:
m = "hello"
m*n

'hellohellohellohello'

In [14]:
#slicing
m[2:4]

'll'

In [15]:
m[0]

'h'

In [16]:
m[0:3]

'hel'

In [17]:
for letter in m:
    print(letter)

h
e
l
l
o

In [18]:
for letter in m:
    print("Here is a letter", letter)

Here is a letter h
Here is a letter e
Here is a letter l
Here is a letter l
Here is a letter o

In [20]:
for idx, letter in enumerate (m):
    print(idx,letter)

0 h
1 e
2 l
3 l
4 o

In [21]:
for idx, letter in enumerate (m):
    print('%d -----%s' %(idx,letter))

0 -----h
1 -----e
2 -----l
3 -----l
4 -----o

In [22]:
for idx, letter in enumerate (m):
    print('{0} -----{1}' .format(idx,letter))

0 -----h
1 -----e
2 -----l
3 -----l
4 -----o

In [23]:
print("num word")
print('-'*15)
for i in range(100):
    print('{0:2} some words'.format(i))

num word
---------------
 0 some words
 1 some words
 2 some words
 3 some words
 4 some words
 5 some words
 6 some words
 7 some words
 8 some words
 9 some words
10 some words
11 some words
12 some words
13 some words
14 some words
15 some words
16 some words
17 some words
18 some words
19 some words
20 some words
21 some words
22 some words
23 some words
24 some words
25 some words
26 some words
27 some words
28 some words
29 some words
30 some words
31 some words
32 some words
33 some words
34 some words
35 some words
36 some words
37 some words
38 some words
39 some words
40 some words
41 some words
42 some words
43 some words
44 some words
45 some words
46 some words
47 some words
48 some words
49 some words
50 some words
51 some words
52 some words
53 some words
54 some words
55 some words
56 some words
57 some words
58 some words
59 some words
60 some words
61 some words
62 some words
63 some words
64 some words
65 some words
66 some words
67 some words
68 some words
69 some words
70 some words
71 some words
72 some words
73 some words
74 some words
75 some words
76 some words
77 some words
78 some words
79 some words
80 some words
81 some words
82 some words
83 some words
84 some words
85 some words
86 some words
87 some words
88 some words
89 some words
90 some words
91 some words
92 some words
93 some words
94 some words
95 some words
96 some words
97 some words
98 some words
99 some words

In [24]:
lotto =[5,27,8,26,41,32]

In [25]:
print(lotto)

[5, 27, 8, 26, 41, 32]

In [26]:
for num in lotto:
    print(num)

5
27
8
26
41
32

In [27]:
sorted_lotto =sorted(lotto)
sorted_lotto

[5, 8, 26, 27, 32, 41]

In [28]:
sorted_lotto[2]

26

In [29]:
for i in sorted_lotto:
    print('Your lotto number is: ' +str i)

SyntaxError: invalid syntax (<ipython-input-29-1baecab2f168>, line 2)

In [30]:
for i in sorted_lotto:
    print('Your lotto number is: ' +str (i))

Your lotto number is: 5
Your lotto number is: 8
Your lotto number is: 26
Your lotto number is: 27
Your lotto number is: 32
Your lotto number is: 41

In [31]:
n=1
for i in sorted_lotto:
print('number' + str n 'is' + str(i))

IndentationError: expected an indented block (<ipython-input-31-d6f74fc17de8>, line 3)

In [32]:
n=1
for i in sorted_lotto:
print('number' + str (n) 'is' + str(i))

IndentationError: expected an indented block (<ipython-input-32-0fe1d6a1d7f0>, line 3)

In [33]:
n=1
for i in sorted_lotto:
    print('number' + str(n) 'is' + str(i))

SyntaxError: invalid syntax (<ipython-input-33-57f5b8fbc84f>, line 3)

In [34]:
n=1
for i in sorted_lotto:
    print('number ' + str(n) + ' is' + str(i))

number1is5
number1is8
number1is26
number1is27
number1is32
number1is41

In [35]:
n = 1
for i in sorted_lotto:
    print('Number ' + str(n) + ' is ' + str(i))

Number 1 is 5
Number 1 is 8
Number 1 is 26
Number 1 is 27
Number 1 is 32
Number 1 is 41

In [38]:
n = 1
for num in sorted_lotto:
    print('Number ' + str(n) + ' is ' + str(num))
    n+=1

Number 1 is 5
Number 2 is 8
Number 3 is 26
Number 4 is 27
Number 5 is 32
Number 6 is 41

In [39]:
for idx, num in enumerate(sorted_lotto):
    print(idx,num)

0 5
1 8
2 26
3 27
4 32
5 41

In [40]:
for idx, num in enumerate(sorted_lotto):
    print((idx+1),num)

1 5
2 8
3 26
4 27
5 32
6 41

In [41]:
for idx, num in enumerate(sorted_lotto):
    print('Number',(idx+1),'is',num)

Number 1 is 5
Number 2 is 8
Number 3 is 26
Number 4 is 27
Number 5 is 32
Number 6 is 41

In [42]:
for idx, num in enumerate(sorted_lotto):
    print('Number {0} is {1:2}'.format((idx+1),num))

Number 1 is  5
Number 2 is  8
Number 3 is 26
Number 4 is 27
Number 5 is 32
Number 6 is 41

In [43]:
for idx, num in enumerate(sorted_lotto):
    print('Number %d is %d'% ((idx+1),num))

Number 1 is 5
Number 2 is 8
Number 3 is 26
Number 4 is 27
Number 5 is 32
Number 6 is 41